.drafts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.drafts-list__item {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 20px;

  @media (min-width: $desktop-width) {
    gap: 40px;
  }
}

.drafts-list__logo {
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: auto;
  }
}

.drafts-list__title {
  margin: 0;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 700;

  &--sgio {
    width: 81%;
  }

  &--legacy {
    width: 81%;
  }

  &--gisgmp {
    width: 89%;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 100%;
  }
}

.drafts-list__description {
  font-size: 14.5px;
  line-height: 1.45;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
