.about-us__intro {
  width: 95%;
  margin: 0 auto 80px;
  font-size: 20px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 620px;
    font-size: 29px;
    margin: 0 auto 80px;
  }
}

.about-us__description {
  width: 95%;
  margin: 0 auto;
  font-size: 14.5px;
  line-height: 1.45;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18.5px;
    max-width: 620px;
  }
}
