.body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $background-white;
  color: $text-grey-color;
}

.body__header {
  margin-bottom: 90px;
}

.body__up-button {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 122px;
  right: 5px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba($background-black, 0.75);
  border-radius: 50%;
  box-shadow: -5px 5px 5px 0 rgba($background-black, 0.2);
}

.body__up-button--show {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.body__up-button-icon {
  fill: rgba($background-black, 0.75);
}
