.header {
  display: flex;
  align-items: flex-end;
  min-height: 844px;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../image/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba($background-black, 0.75);

  @media (min-width: $tablet-width) {
    min-height: 860px;
  }

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("../image/background-image@2x.jpg");
    background-size: cover;
    background-position: center;
  }
}

.header__wrapper {
  text-align: center;
  color: $text-white-color;
  margin: 0 auto;
  padding: 0 20px 20px;
}

.header__slogan {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 45px;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    font-size: 68px;
    width: 94%;
    line-height: normal;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 58px;
    width: 100%;
    max-width: 780px;
  }
}

.header__text {
  margin: 0 auto 277px;
  line-height: 30px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 94%;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    width: 100%;
    max-width: 780px;
  }
}

.header__button {
  margin: 0 auto;
  transition: transform 0.6s;
}

.header__button--transform {
  transform: translateY(-5px);
}

.header__arrow {
  fill: $text-white-color;
  width: 27px;
  height: 13px;
}
