.services {
  background-color: $background-grey;
  padding: 65px 0 45px;
}

.services__title {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.services__price {
  font-size: 14.5px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 620px;
    font-size: 18px;
    margin: 0 auto;
  }
}
