// Colors
$background-white: #ffffff;
$background-black: #000000;
$background-grey: #ebebeb;
$text-white-color: #ffffff;
$text-grey-color: #333333;
$text-black-color: #000000;

// Viewports

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 320px;
